body{
    margin: 0;
    background: #123
}

.container{
    width: 95%;
    margin: 0;

}

header{
    background: #dedbdb
}

header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width:50px;
    height:50px;
    border-radius:50%;
    overflow: hidden;
    margin-left:10px;
    margin-top:5px;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Battambang', cursive;
    border: 10px;
    
}

nav a{
    color:#444;
    text-decoration: none;
}

iframe { width: 99.7%; height: 660px; border: 2px solid #ccc; border-radius: 0px; padding: none; }

.draw-border {
    /*box-shadow: inset 0 0 0 4px black;
    color: black;*/
    transition: color 0.25s 0.0833333333s;
    position: relative;
    padding:8px;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: black;
    font-weight: bold;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: black;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
